<script src="https://giscus.app/client.js"
        data-repo="romaad/blog"
        data-repo-id="R_kgDOQSWvCA"
        data-category="General"
        data-category-id="DIC_kwDOQSWvCM4C6K-A"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>